.signo{
    float: left;
    margin: 10px;
}
.fecha{
    background-color:grey;
    color:white;
    font-size: 12px;
    padding: 2px;
}
.fondo{
    position: absolute;
}
.imgsigno{
    position: relative;
}
.contimg{
    
    border: solid #edede1 1px;
    margin-left: 44%;
}
h1,h2,p{
    text-align: center;
}
h1{
    font-size: 16px;
}

h2{
    font-size: 14px;
}
img,.contimg{
    width: 200px;
    height: 200px;
}
h3{
    margin-left: 20%;
}
.pred{
    font-style: italic;
    border: solid #edede1 1px;
    margin-left: 20%;
    margin-right: 20%;
    padding 5px;
}
.pred p{
    text-align: left;
    margin: 5px;
}
